@import "tailwindcss";

@theme {
  /* VARIABLES ROCKSTAR / BELICÓN */
  --color-bg-cream: #cdc1a7;
  --color-gta-black: #0a0a0a;
  --color-gta-orange: #FF8C00;
  --color-rockstar-yellow: #f8b400;
  
  /* TIPOGRAFÍAS */
  --font-archivo: 'Archivo Black', sans-serif;
  --font-gothic: 'UnifrakturCook', cursive;
  
  /* SOMBRAS SÓLIDAS */
  --shadow-gta-dark: 8px 8px 0px 0px #000000;
}

/* IMPORTAR FUENTES ADICIONALES */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=UnifrakturCook:wght@700&display=swap');

body {
  background-color: var(--color-gta-black);
  color: white;
  margin: 0;
}

/* CLASES DE UTILIDAD PARA EL ESTILO GTA */
.text-gta-stroke {
  font-family: var(--font-gothic);
  color: white;
  -webkit-text-stroke: 2px #000; /* Borde negro grueso */
}

.btn-rockstar {
  background-color: var(--color-rockstar-yellow);
  color: black;
  font-family: var(--font-archivo);
  border: 3px solid black;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-rockstar:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 0px black;
}

/* Scrollbar personalizado para que no rompa la estética */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #FF8C00; border-radius: 5px; }